---
export interface Props {
  millis: number;
}

const { millis } = Astro.props;
const minutes = Math.floor(millis / 60000);
const seconds = Math.floor((millis % 60000) / 1000);
---

<span>
  {minutes}:{seconds < 10 ? '0' : ''}{seconds}
</span>

