---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#4f46e5" />
		<title>{title}</title>
	</head>
	<body class="bg-fixed bg-gradient-to-b from-slate-900 to-zinc-900 relative">
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	dialog {
		background-color: transparent;
		max-width: 100%;
		width: 100%;
		height: 100vh;
    /* transform: translate(-50%, -50%); */
  }
	dialog[open] {
    animation: show 0.5s ease normal;
	}
	@keyframes show{
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
	}
	dialog::backdrop {
		background-color: rgba(24,24,27, 0.8);
	}
</style>
